<p id="notice"><%= notice %></p>

<p>
  <strong>Genre:</strong>
  <%= @candidate.genre %>
</p>

<p>
  <strong>Legal name:</strong>
  <%= @candidate.legal_name %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @candidate.avatar %>
</p>

<p>
  <strong>Mailing address:</strong>
  <%= @candidate.mailing_address %>
</p>

<p>
  <strong>Country:</strong>
  <%= @candidate.country %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @candidate.avatar_id %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @candidate.postal_code %>
</p>

<p>
  <strong>Cell phone:</strong>
  <%= @candidate.cell_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @candidate.email %>
</p>

<p>
  <strong>Date of grade:</strong>
  <%= @candidate.date_of_grade %>
</p>

<p>
  <strong>University:</strong>
  <%= @candidate.university %>
</p>

<p>
  <strong>Programs:</strong>
  <%= @candidate.programs %>
</p>

<p>
  <strong>Certifications:</strong>
  <%= @candidate.certifications %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @candidate.degree %>
</p>

<p>
  <strong>Languages:</strong>
  <%= @candidate.languages %>
</p>

<p>
  <strong>Salary expectation:</strong>
  <%= @candidate.salary_expectation %>
</p>

<p>
  <strong>Area of interest:</strong>
  <%= @candidate.area_of_interest %>
</p>

<p>
  <strong>Job type:</strong>
  <%= @candidate.job_type %>
</p>

<p>
  <strong>Additional information:</strong>
  <%= @candidate.additional_information %>
</p>

<p>
  <strong>Professional presentation:</strong>
  <%= @candidate.professional_presentation %>
</p>

<p>
  <strong>Work experience:</strong>
  <%= @candidate.work_experience %>
</p>

<p>
  <strong>Professional reference:</strong>
  <%= @candidate.professional_reference %>
</p>

<p>
  <strong>Personal reference:</strong>
  <%= @candidate.personal_reference %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @candidate.skills %>
</p>

<p>
  <strong>Hobbies:</strong>
  <%= @candidate.hobbies %>
</p>

<p>
  <strong>Extracurricular activities:</strong>
  <%= @candidate.extracurricular_activities %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @candidate.linkedin %>
</p>

<p>
  <strong>Internships:</strong>
  <%= @candidate.internships %>
</p>

<p>
  <strong>Behavioral assessment:</strong>
  <%= @candidate.behavioral_assessment_id %>
</p>

<p>
  <strong>Arrow:</strong>
  <%= @candidate.arrow_id %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
